.container {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  main {
    width: 65%;
    border: 1px solid black;
  }
  aside {
    width: 25%;
    border: 1px solid black;
  }
}
